.container {
  text-align: center;
  border-radius: 20px;
  transform: translateX(120px);
  background-color: rgb(143, 182, 223);
  height: 500px;
  width: 1000px;
}

.heading .content {
  transform: translateY(30px);
}

.prompt {
  transform: translateY(20px);
  height: 100px;
}

.prompt .image_input {
  transform: translateY(20px);
  padding-left: 20px;
  width: 500px;
  height: 50px;
  border: none;
  border-radius: 100px;
  outline: none;
}

.prompt_submission {
  display: inline-block;
  transform: translate(10px, 20px);
}

.submit {
  background-color: rgb(95, 95, 95);
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 20px;
}

.submit:hover {
  cursor: pointer;
}

.prompt_submission:hover {
  cursor: pointer;
}

.images_container {
  transform: translateY(30px);
}

.images {
  display: inline-block;
  margin: 20px;
  height: 150px;
  width: 250px;
  border-radius: 20px;
  background-size: cover;
  transition: all 0.5s;
}

.image {
    background-size: cover;
  border-radius: 20px;
  height: inherit;
  width: inherit;
}
